.home {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  margin-top: 120px;
}

.image-head {
  height: 300px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgb(72, 202, 228, 0.7);
}

.header-title {
  font-size: 48px;
}

.header-sub {
  font-size: 20px;
  width: 390px;
}
